/* Colors */
$light-grey: #e2e2e2
$grey: #BDC3C7
$red: #e74c3c
$green: #27ae60

=center-block
  display: block
  margin: 0 auto 0 auto

=rem($property, $pxVal)
  $remVals: ()
  @each $val in $pxVal
    $remVals: append($remVals, ($val / 10 + rem))
  #{$property}: $remVals

/* Base */
*
  box-sizing: border-box

html
  font-size: 62.5%
  height: 100%

body
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  background: $light-grey
  height: inherit
  min-width: 100%
  margin: 0px
  padding: 0px
  color: #555555
  line-height: 1.5
  font-size: 1.6rem
  text-rendering: optimizeLegibility
  overflow-y: scroll
  position: relative // for navbar

/* Utilities */
.hidden
  display: none

.text-center
  text-align: center

/* Element Globals */
h3, h2, h1
  margin: 0

nav
  width: 100%
  position: absolute
  top: 80%
  z-index: 10
  ul
    @extend .unstyled
    display: -webkit-inline-box
    float: right
    margin: .5rem
    button
      position: relative
      box-shadow: 0rem .3rem .7rem -.3rem black
      &:active
        position: relative
        top: .3rem
        box-shadow: none

/* Flat buttons */
button, input[type="submit"]
  outline: none
  margin: 0
  padding: .4rem .8rem
  border: none
  border-radius: .8rem
  font-size: 1.2rem
  background: white
  color: black
  cursor: pointer
  &:hover
    background: $grey
  &.red
    background: $red
    color: white
  &.green
    background: $green
    color: white

/* Specific Elements */
.unstyled
  list-style-type: none
  padding: 0
  li
    padding: .5rem

.verticle
  display: block
  margin: 1rem

#container
  height: 100%
  width: 60%
  display: block
  margin: 0 auto 0 auto

#stacked
  width: 70%
  display: block
  margin: 0 auto 0 auto
  padding: .5rem 0 .5rem 0
  select
    width: 50%
    background: white
  input:not(.save)
    width: 80%
    display: block
    margin: 5px auto 5px auto
  input:not(.save), select
    border: none
    outline: none
  input[type="text"]
    padding: .4rem .8rem
    border-radius: .8rem
    &.error
      border: .1rem solid $red
      &:focus
        outline: none
        box-shadow: none //0 0 1rem #e74c3c

div#message
  width: 50%
  position: absolute
  bottom: 2%
  right: 25%
  z-index: 8
  background: white
  box-shadow: 0rem .3rem 1rem -.3rem black
  padding: 0 .5rem
  border-radius: .5rem
