=center-block
  display: block
  margin: 0 auto 0 auto

=rem($property, $pxVal)
  $remVals: ()
  $pxVals: ()

  @each $val in $pxVal
    $remVals: append($remVals, ($val / 10 + rem))
    $pxVals: append($pxVals, $val + px)

  #{$property}: $pxVals
  #{$property}: $remVals

/* Base */
html
  font-size: 62.5%

body
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  background: #FFFFFF
  margin: 0px
  padding: 0px
  color: #555555
  line-height: 1.5
  +rem(font-size, 16)
  text-rendering: optimizeLegibility
  min-width: 320px
  overflow-y: scroll

.text-center
  text-align: center

.unstyled
  list-style-type: none
  padding: 0
  display: block
  li
    @extend .text-center
    +rem(margin, 10)

.error
  border-color: red
  color: red
  &:focus
    outline: none !important
    border: 1rem solid red
    border: 10px solid red
    box-shadow: 0 0 1rem red
    box-shadow: 0 0 10px red

#container
  width: 60%
  display: block
  margin: 0 auto 0 auto

#stacked
  width: 30%
  display: block
  margin: 0 auto 0 auto
  input:not(#save), select
    width: 80%
    display: block
    margin: 5px auto 5px auto
